@model Abc.MvcWebUI.Entity.Product
@{
    ViewBag.Title = "Details";
}




<div id="product-details" class="container pb-5">

    <div class="row">
        <div class="col-md-5">
            <img src="~/Upload/@Model.Image" class="img-fluid rounded">
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Name</h1>


                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    @if (Model.IsApproved)
                    {
                        <span class="badge badge-primary">Stokta</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Stokta Yok</span>
                    }
                    <span class="product-number">#23424</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <div id="description">
                        @Model.Description

                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                    <span class="badge badge-success">53</span>
                </div>
                <div id="write-review" class="col-md-4">
                    <a href="">
                        Yorum yap.
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 id="product-price">@Model.Price <i class="fas fa-lira-sign"></i></h4>
                    


                </div>
            </div>
            <div class="row">
                <div class="col-md-12">


                    @using (Html.BeginForm("AddToCart", "Cart"))

                    {
                        @Html.HiddenFor(i => i.Id)
                        <button type="submit" class="btn btn-success">
                        <i class="fas fa-cart-plus"></i>
                           Sepete Ekle
                        </button>
                    }


                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div id="detail-list" class="bd-example bd-example-tabs">
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show paneltabs" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true">Açıklama</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link paneltabs" id="pills-paymentMethods-tab" data-toggle="pill" href="#pills-paymentMethods" role="tab" aria-controls="pills-paymentMethods" aria-selected="false">Ödeme Yöntemleri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link paneltabs" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Yorumlar</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-description" role="tabpanel" aria-labelledby="pills-home-tab">
                        <p>
                            Uzun açıklama burada yer alacak.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="pills-paymentMethods" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <p>Ödeme seçenekleri buraya eklenecek.</p>
                    </div>
                    <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <p>Ürüne yapılan yorumlar buraya eklenecek.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>