
@{
    ViewBag.Title = "Info";
}


<div class="container pb-5">
    <h2>Bilgilendirme</h2>
    <hr />
    <br />
    <ul>
        <li> Kendimi Web Development alanında geliştirmek için oluşturduğum bu projede ürünlerin tümünü yada katolog olarak listeyebilir aynı zamanda ürüne ait özel detay sayfasına erişebilirsiniz.</li>
        <li> Kullanıcı oluşturabilir,oluşturduğunuz kullanıcıya giriş yapıp o kullanıcı üzerinden ürün-detay sayfasından sepete eklediğiniz ürünleri sipariş verebilir,sipariş verdiğiniz ürünleri ise kullanıcı adına tıklayarak durumunu takip edebilirsiniz.</li>
        <li> Yönetici olarak rol atanmış kullanıcı üzerinden bütün ürünleri & kategorileri listeyebilir,liste üzerinden istediğiniz ürün yada katoloğu düzenleyebilir yada silebilirsiniz.</li>
        <li> Yönetici hesap üzerinden verilen bütün siparişleri görüntüleyebilir,durumlarını güncelleyebilirsiniz.</li>
    </ul>
    <br />
    <hr />

    <p>Yeni oluşturduğunuz hesaplarda yönetici rolü bulunmadığı için yönetim panelini görüntüleyemezsiniz.Aşağıdaki hesap bilgileri ile yönetim panelinede giriş yapabilirsiniz.</p>
    <h5>Yönetici Hesap Bilgisi</h5>
    <dl>
        <dt>Kullanıcı Adı</dt>
        <dd>mberk</dd>
        <dt>Şifre</dt>
        <dd>1234567</dd>
    </dl>



</div>


